.bulletGroup-container {
  display       : flex;
  flex-direction: row;
  gap           : 1rem;
  overflow      : auto;
  margin        : 0 auto 40px;
  padding-bottom: 0.5rem;
  max-width     : 1200px;
}

.bulletGroup-container::-webkit-scrollbar {
  height: 4px;
}

.bulletGroup-container::-webkit-scrollbar-track,
.bulletGroup-container::-webkit-scrollbar-thumb {
  background-clip : padding-box;
  background-color: #dfdfdf;
  border-left     : 16px solid transparent;
  border-right    : 16px solid transparent;
}

.bulletGroup-container::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
}

.bullet__item {
  background-color: #5825CC;
  height          : 140px;
  padding         : 15px 5px 0;
  box-shadow      : 0 7px 15px 0 rgb(0 0 0 / 20%);
  transition      : background 150ms ease-in-out;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  text-align      : center;
  cursor          : pointer;
  min-width       : 98px;
}

.bullet__item--title {
  text-decoration: none;
  font-size      : 13px;
  font-weight    : 800;
}